<html>
    <head>
        <title>Headlines</title>
    </head>
    <body>
        <form>
            <input type="text" name="publication" placeholder="search">
            <input type="submit" value="Submit">
        </form>
      {% for article in articles %}
      <ul>
          <li>
              <p><b><a href="{{ article.link }}">{{ article.title }}</a></b></p>
              <p>{{ article.summary }}</p>
              <p>{{ article.published }}</p>
          </li>
          <hr>
      </ul>
      {% endfor %}
    </body>
</html>